<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <getContentEditorFields>
        <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetFields, Sitecore.Client" >
          <patch:attribute name="type">Sitecore.Support.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetFields, Sitecore.Support.213497</patch:attribute>
        </processor>
      </getContentEditorFields>
    </pipelines>
  </sitecore>
</configuration>